:root {
  min-height: 100%;
  width: 100vw;
}

body, html {
  height: 100vh;
  overflow-x: hidden;
}


#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  
  flex-grow: 1;
  min-height: 77vh;
}

.material-icons-round.btn-dropdown-icon{
  display: none;
}